.about-section {
  padding-top: 10px;
  min-height: 100vh;
  padding-bottom: 120px;
}

.about-section h2 {
  font-size: 2.8rem;
}

.skills-container {
  margin-top: 75px;
}

.skills-container h3{
  border-bottom: 2px solid;
  display: inline-block;
}

.bio {
  font-size: 1.5rem;
  padding: 10px;
}

.bio a {
  text-decoration: none;
}

.bio a:hover {
  cursor: pointer;
  color: #72cdda;
  border-bottom: 2px solid;
}

.skills {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 8px;
}