.contact-title-container {
  background: linear-gradient(#07161f, black);
}

.bottom {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
}

.right-triangle {
  position: absolute;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  top: 0;
  left: 75%;
  width: 25%;
  height: 100%;
  background: rgba(14, 52, 77, 0.8);
}

.contact-links {
  position: absolute;
  height: 100%;
  right: 25%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  height: 100%;
  right: 25%;
  width: 50%;
  background: rgba(14, 52, 77, 0.8);
  z-index: -1;
}

.contact-img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -4;
  filter: brightness(0.5);
  object-fit: cover;
  object-position: center;
}

.contact-links li {
  margin: 10px;
}

.contact-links a {
  font-size: 1.4rem;
  padding: 2px;
  border-bottom: 2px solid;
}

@media (max-width: 991px) {
  .bottom {
    height: 350px;
  }
  
}

@media (max-width: 767px) {
  .bottom {
    height: 300px;
  }
}

@media (max-width: 575px) {
  .bottom {
    height: 250px;
  }
}

@media (max-width: 400px) {
  .bottom {
    height: 200px;
  }
}