.hero-section {
  min-height: 100vh;
}

.animated-img-container {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.animated-img {
  position: relative;
  display: inline-block;
}

.center-square-wrapper {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-square {
  position: relative;
  height: 125px;
  width: 125px;
  z-index: 2;
}

.title-root {
  position: absolute;
  top: 43%;
  right: 44.5%;
}

.hero-text {
  position: absolute;
  color: white;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
}

.skills-text {
  position: absolute;
  color: white;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: 800;
}

.hero-text h2 {
  font-weight: 300;
}

.title {
  right: 0;
  top: -100%;
}

.developer {
  bottom: -100%;
}

.react {
  right: 200%;
  bottom: 200%;
}

.javascript {
  bottom: 200%;
}

.css {
  bottom: 200%;
  left: 200%;
}

.bootstrap {
  right: 200%;
}

.uiux {
  left: 200%;
}

.node {
  right: 200%;
  top: 200%;
}

.sql {
  top: 200%;
}


.mongodb {
  top: 200%;
  left: 200%;
}

.my-row {
  display: flex;
  flex-direction: row;
}

.square {
  position: relative;
  width: 0;
  height: 0;
  border: 62.5px solid;
  border-color: #666 #ccc #aaa #888;
}

@media (max-width: 1200px) {
  .square {
    border: 60px solid;
  }

  .center-square {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 1100px) {
  .square {
    border: 56px solid;
  }

  .center-square {
    height: 112px;
    width: 112px;
  }
}

@media (max-width: 1000px) {
  .square {
    border: 52px solid;
  }

  .center-square {
    height: 104px;
    width: 104px;
  }

  .hero-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 920px) {
  .square {
    border: 48px solid;
  }

  .center-square {
    height: 96px;
    width: 96px;
  }
}

@media (max-width: 850px) {
  .square {
    border: 44px solid;
  }

  .center-square {
    height: 88px;
    width: 88px;
  }
}

@media (max-width: 780px) {
  .square {
    border: 40px solid;
  }

  .center-square {
    height: 80px;
    width: 80px;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 720px) {
  .square {
    border: 36px solid;
  }

  .center-square {
    height: 72px;
    width: 72px;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 660px) {
  .square {
    border: 32px solid;
  }

  .center-square {
    height: 64px;
    width: 64px;
  }
}

@media (max-width: 600px) {
  .square {
    border: 28px solid;
  }

  .center-square {
    height: 56px;
    width: 56px;
  }

  .title {
    right: -100%;
  }
  
  .developer {
    left: -100%;
  }
}

@media (max-width: 500px) {
  .square {
    border: 24px solid;
  }

  .center-square {
    height: 48px;
    width: 48px;
  }
}

@media (max-width: 400px) {
  .title {
    right: -77px;
  }
  
  .developer {
    left: -85px;
  }
}

.row-0 .column-0 {
  border-color: #07161f;
}

.row-0 .column-1 {
  border-color:  #091720 #0a1d27 #0a1d27 #091720;
}

.row-0 .column-2 {
  border-color: #0b2730 #0b2730 #0b1e28 #0B1E28;
}

.row-0 .column-3 {
  border-color: #112c39 #112c39 #133847 #133847;
}

.row-0 .column-4 {
  border-color: #123647
}

.row-0 .column-5 {
  border-color:#183e4f#183e4f #103443 #103443;
}

.row-0 .column-6 {
  border-color: #091720 #091720 #183c4b #1a4556;
}

.row-0 .column-7 {
  border-color: #07161f;
}

.row-0 .column-8 {
  border-color: #09141c;
}

/* ROW 1 */
.row-1 .column-0 {
  border-color: #07161f #081b24 #07161f #07161f;
}

.row-1 .column-1 {
  border-color: #081b24 #11313f #194455 #08252d;
}

.row-1 .column-2 {
  border-color: #326d87 #2b647f #29627c #33738d;
}

.row-1 .column-3 {
  border-color: #1e4c63 #1e4c63 #2c6580 #326d87;
}

.row-1 .column-4 {
  border-color: #1f4e65 #1f4e65 #2a6883 #2a6883;
}

.row-1 .column-5 {
  border-color: #0c212a #0c212a #29627c #29627c;
}

.row-1 .column-6 {
  border-color: #1c4a5f #1c4a5f #0c212a #0c212a;
}

.row-1 .column-7 {
  border-color:#0b1e28;
}

.row-1 .column-8 {
  border-color: #0b151d;
}

/* Row 2 */
.row-2 .column-0 {
  border-color:#091720;
}

.row-2 .column-1 {
  border-color: #14404f #173b4c#163a49 #123240;
}

.row-2 .column-2 {
  border-color: #307088 #2b6984 #205368 #24556d;
}

.row-2 .column-3 {
  border-color:#448eae #448eae #326d87 #326d87;
}

.row-2 .column-4 {
  border-color: #5eb2cc #5eb2cc #7bd8dd #7bd8dd;
}

.row-2 .column-5 {
  border-color:#4c9bb9 #4c9bb9 #63bdd1 #6bc5d7;
}

.row-2 .column-6 {
  border-color: #163848;
}

.row-2 .column-7 {
  border-color: #07161d #07161d #102f3e #102f3e;
}

.row-2 .column-8 {
  border-color: #091c25;
}

/* ROW 3 */
.row-3 .column-0 {
  border-color:#0a1d27 #0a1d27 #0d222d #0d222d;
}

.row-3 .column-1 {
  border-color: #123446 #1f5368 #1f5368 #123446;
}

.row-3 .column-2 {
  border-color: #2a6883 #2a6883 #21536b #21536b;
}

.row-3 .column-3 {
  border-color: #72cdda;
}

.row-3 .column-4 {
  border-color:#e3fff8;
}

.row-3 .column-5 {
  border-color: #74d0da #5eb2cc #5eb2cc #74d0da;
}

.row-3 .column-6 {
  border-color: #112c37 #112c37 #1f4e65 #2a6883;
}

.row-3 .column-7 {
  border-color: #08252d;
}

.row-3 .column-8 {
  border-color: #0a1f28 #07161e #07161e #0a1f28;
}

/* ROW 4 */
.row-4 .column-0 {
  border-color: #0d2836 #0d2836 #07151c #07151c;
}

.row-4 .column-1 {
  border-color: #163c4b #163a4b #153e4d #153e4d;
}

.row-4 .column-2 {
  border-color: #28617b #204f64 #194455 #194455;
}

.row-4 .column-3 {
  border-color: #63bdd1 #5bb0ca #5bb0ca #63bdd1;
}

.row-4 .column-4 {
  border-color: #7fdadb #74d0da #74d0da #8ae9e2;
}

.row-4 .column-5 {
  border-color: #5bb0ca #4c9bb9 #4c9bb9 #63bdd1;
}

.row-4 .column-6 {
  border-color: #29627c #0c212a #0c212a #1e5267;
}

.row-4 .column-7 {
  border-color: #0c212a #0c212a #0d2d3d #103443;
}

.row-4 .column-8 {
  border-color: #06151e;
}

/* ROW 5 */
.row-5 .column-0 {
  border-color: #071820;
}

.row-5 .column-1 {
  border-color: #0d2d3b #0d2d3b #0c232d #0c232d;
}

.row-5 .column-2 {
  border-color: #0d2d3b #113546 #113546 #0d2d3b;
}

.row-5 .column-3 {
  border-color: #1e5267 #2c6580 #2c6580 #1e5265;
}

.row-5 .column-4 {
  border-color: #4e99b7 #112c39 #112c39 #418ead;
}

.row-5 .column-5 {
  border-color: #153948;
}

.row-5 .column-6 {
  border-color: #0c212a #113546 #0e2d3b #0c212a;
}

.row-5 .column-7 {
  border-color: #102f3e #0a1821 #0a1821 #11313f;
}

.row-5 .column-8 {
  border-color: #09161d;
}

/* row 6 */
.row-6 .column-0 {
  border-color: #0a1821;
}

.row-6 .column-1 {
  border-color: #091c25;
}

.row-6 .column-2 {
  border-color: #103445 #0e2e3d #0e2e3d #0e2e3d;
}

.row-6 .column-3 {
  border-color: #113546 #0c212a #0c212a #113546;
}

.row-6 .column-4 {
  border-color: #0a242d;
}

.row-6 .column-5 {
  border-color: #102f40 #091720 #091720 #102f40;
}

.row-6 .column-6 {
  border-color: #091720;
}

.row-6 .column-7 {
  border-color:#091720 #09161d #09161d #091720;
}

.row-6 .column-8 {
  border-color: #07161f;
}