.projects-section {
  min-height: 100vh;
  padding-bottom: 150px;
}

.projects-section h2 {
  font-size: 2.8rem;
}

.projects-container p {
  font-weight: 300;
  font-size: 1rem;
}

.projects-container h3 {
  font-weight: 900;
  font-size: 2rem;
}

.projects-container a {
  font-size: 1rem;
  padding-bottom: 3px;
  color: #72cdda;
}

.projects-container a:hover {
  border-bottom: 1px solid #72cdda;
  color: #72cdda;
}

.right-links-container div {
  margin-top: 6px;
  margin-bottom: 6px;
}

.project-row {
  height: 400px;
  position: relative;
}

.background-image-test {
  background-image: url("../../images/sneakerheadsFeed2.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.description-background {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  background:rgba(14, 52, 77, 0.8);
}

@media (max-width: 991px) {
  .project-row {
    height: 340px;
  }
}

@media (max-width: 767px) {
  .project-row {
    height: 280px;
  }

  .right-triangle {
    width: 60%;
  }
}

@media (max-width: 575px) {
  .project-row {
    height: 240px;
  }
}

@media (max-width: 400px) {
  .project-row {
    height: 200px;
  }

  .right-triangle {
    width: 75%;
  }
}

.background-2 {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
}

.project-info-wrapper {
  margin-left: auto;
  width: 75%;
  height: 80%;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-info {
  max-width: 300px;
}

.project-1 {
  background-image: url("../../images/SneakerHeadsScreenShot.jpeg");
}

.project-2 {
  background-image: url("../../images/invoiceGeneratorBackground.jpg")
}

.project-3 {
  background-image: url("../../images/employeeManagementSystem.jpg");
}
