* {
  box-sizing: border-box;
}

html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

h1, h2, h3, h4, h5, h6, p {
  color: #e3fff8;
}

hr {
  border: 1px solid #e3fff8;
}

.light-blue {
  color: #72cdda;
}